pandas
numpy
openpyxl
transformers                                               
accelerate                                               
datasets                                               
tokenizers
torch
torchvision
torchaudio
Wikipedia-API                                               
sentence-transformers                                               
faiss-cpu
sentencepiece                                               
protobuf
evaluate                                               
rouge-score                                               
nltk                                               
matplotlib
tqdm                                               
requests                                               
huggingface-hub                                               
safetensors                                               
packaging                                               
filelock                                               
regex                                               